<h1>About Bloccit</h1>
<p>Created by: Forrest Stone</p>
<a href="https://github.com/SinGarTheGoat" class="social-btn">easy button</a>
<a href="https://www.youtube.com/watch?v=6mH1OCde-X4" class="btn_2">other button</a>
