<h1>All Posts</h1>
# #12

<%counter=1%>
<% @posts.each do |post| counter %>
  <!--<h3>this is a dumb post</h3> --->
<div class="media">
   <div class="media-body">
     <h4 class="media-heading">
   <%if counter ==1||counter % 5==0%>
        <a href="http://www.spam.com/">SPAM</a>
         <%else%>
       <%= link_to post.title, post %>
       <% end %>
     </h4>
   </div>
 </div>
 <%counter+=1 %>
<% end %>
